
@import "bootstrap-sprockets";
@import "bootstrap";

#new-product {
  border: 1px solid black;
  padding: 10px;
}

.my-nav {
  width: 100%;
  margin-top: 2em;
  padding-bottom: 3em;
  border-bottom: solid 1px #333;
  padding-right: 30px;
  padding-left: 20px;
}
.my-nav ul {
  list-style: none;
  padding: 0;
}
.my-nav ul li {
  display: inline-block;
  float: right;
  font-size: 1.5em;
  margin-left: 3em;
}

ul {
  list-style: none;
  text-decoration: none;
}

 .my-nav h1 ul li a {
  color: #333;
  text-decoration: none;
 }

 a {
  color: #333;
  text-decoration: none;
 }

 a:hover {
  text-decoration: none;
  color: #333;

}

.form-group label {
  display: block;
  }

input, textarea {
  padding: 0.5em;
 }

body {
  padding-bottom: 200px;
  font-family: 'Raleway', sans-serif;
}

.main {
  padding-top: 20px;
}

p {
  font-size: 18px;
}
